
body {
    background-image: url("/images/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

title {
    text-align: left;
}
p {
    font: 44px "Proxima Nova" bold;
  color: white;

}

h1 {
    font: 22px "Proxima Nova" bold;
    color: white;
    text-align: left;
}

